{% extends "base.html" %}
{% block content %}

    <div class="box-main">
        <div class="firstHalf">
            <h1 class="text-big" id="web">
                {{detail.service_title}}
            </h1>
           
            <div class=" col-lg-6">
                <img src="/media/{{detail.image_field}}"/>
            </div>
            <div class="col-lg-6">
                <p class="text-small">
                    {{detail.service_desc | safe}}
                </p>
            </div>

            
        </div>
    </div>

{% endblock content %}