{% extends "base.html" %}
{% block content %}
<section class="firstsection">
    <div class="box-main">
        <div class="firstHalf">
            <h1 class="text-big" id="web">
                Web Technology
            </h1>
            
            <p class="text-small">
                HTML stands for HyperText Markup 
                Language. It is used to design 
                web pages using a markup language.
                HTML is the combination of Hypertext
                and Markup language. Hypertext 
                defines the link between the web 
                pages. A markup language is used 
                to define the text document within 
                tag which defines the structure of 
                web pages. HTML is a markup language
                that is used by the browser to 
                manipulate text, images, and other
                content to display it in the required 
                format.
            </p>

            
        </div>
    </div>
</section>
{% endblock content %}